// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  color: #ffffff;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-size: 200%;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

.row {
  margin: 1px;
}

.jumbotron {
  background-color: #5cb85c;
  margin: 10px;
}



p {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h1 {
  color: #ffffff;
}

puolikas {
  width: 50%;
}


// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 15px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
