<%# add navigation links to this file %>





<% if not current_user.nil? %>
    <li><%= link_to 'New event', new_event_path, class: "white" %></li>
    <li><%= link_to 'Sign out', signout_path, class: "white" %></li>
<% else %>
    <li><%= link_to 'Sign in', signin_path, class: "white" %></li>
    <li><%= link_to 'Sign up', signup_path, class: "white" %></li>
<% end %>