<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-light" style="background-color: #5cb85c;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Events', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>

<div class="text-center">
<button type="button" class="btn btn-success btn-md">Sports</button>
<button type="button" class="btn btn-success btn-md">Dance</button>
<button type="button" class="btn btn-success btn-md">Food</button>
<button type="button" class="btn btn-success btn-md">Music</button>
</div>